.row{
  &--border{
    border-bottom: 2px solid #ccc;
    padding-bottom: 4rem;
 }
}

input[type=text],input[type=password],input[type=email]{
  width: 100%;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid $grey;
  padding: 0.8rem 0 0.8rem 0.4rem;
  margin: 0.5rem 0 0.5rem 0;
  font-weight: 300;
}

h2 {
  font-size: 28px;
  margin-top: 3rem;
  margin-bottom: 1.7rem;
}