.card{
  margin-top: 1.7rem;
  &__img{
      object-fit: cover;
      width: 100%;
      border-radius: 20px;
      max-height: 310px;
      height: 310px;
  }
  &__date{
      font-size: 18px;
      margin: 1.7rem 0 0.8rem 0;
  }
  &__title{
      font-size: 24px;
      margin: 0.8rem 0 1.7rem 0;
      &--marginBottom{
          margin-bottom: 2.75em;
      }
  }
  &__userImage{
      width: 18%;
      border-radius: 100px;
      box-shadow: 0 4px 4px #d2d2d2;
  }
  &__authorTitle{
      font-size: 24px;
      font-weight: 500;
      align-self: center;
      padding-left: 1rem;
  }
  &--featured{
      margin-top: 0;
  }
  &__userImage--featured{
      width: 10%;
  }
  &__popular{
      margin-bottom: 3.5rem;
  }
  &--img--popular{
      height: 200px;
      max-height: 200px;
  }
  &--userImage--popular{
      width: 13%;
  }
  &--authorTitle--popular{
      font-size: 16px;
  }
}