.footer{
  border-top: 2px solid #ccc;
  border-bottom: none;
  &__logo{
      width: 6%;
      border-radius: 5px;
      box-shadow: 0 4px 4px #d2d2d2;
      height: fit-content;
      align-self: center;  
  }
  &__copyright{
      padding: 1.5rem 0 1rem 0;
  }
  &__text{
      text-align: right;
  }
  &__title{
      font-size: 24px;
      padding-left: 16px;
      align-self: center;
      margin-top: 1.3rem;
  }
}