:root {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-size: 28px;
  margin-top: 3rem;
  margin-bottom: 1.7rem;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row--border {
  border-bottom: 2px solid #ccc;
  padding-bottom: 4rem;
}

.col-half {
  width: 4.1666666667%;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.header, .footer {
  width: 100%;
  padding: 1.5rem 0 1.5rem 0;
  border-bottom: 2px solid #ccc;
}
.header__logo, .footer__logo {
  width: 118%;
  border-radius: 5px;
  box-shadow: 0 4px 4px #d2d2d2;
}
.header__title, .footer__title {
  font-size: 24px;
  padding-left: 22px;
  align-self: center;
}

.container {
  display: flex;
  width: 1120px;
  margin: auto;
  flex-wrap: wrap;
}

.main__title {
  margin: 1.5rem 0 1.5rem 0;
}

.card {
  margin-right: 1.5rem;
  margin-bottom: 1.7rem;
  margin-top: 1.7rem;
}
.card__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 20px;
  max-height: 310px;
  height: 310px;
}
.card__date {
  font-size: 18px;
  margin: 1.7rem 0 0.8rem 0;
}
.card__title {
  font-size: 24px;
  margin: 0.8rem 0 1.7rem 0;
}
.card__title--marginBottom {
  margin-bottom: 2.75em;
}
.card__userImage {
  width: 18%;
  border-radius: 100px;
  box-shadow: 0 4px 4px #d2d2d2;
}
.card__authorTitle {
  font-size: 24px;
  font-weight: 500;
  align-self: center;
  padding-left: 1rem;
}
.card--featured {
  margin-top: 0;
}
.card__userImage--featured {
  width: 10%;
}
.card__popular {
  margin-bottom: 3.5rem;
}
.card__popular:nth-child(odd) {
  margin-right: 1rem;
}
.card__popular:nth-child(even) {
  margin-left: 1rem;
}
.card--img--popular {
  height: 200px;
  max-height: 200px;
}
.card--userImage--popular {
  width: 13%;
}
.card--authorTitle--popular {
  font-size: 16px;
}

.post {
  margin-left: 1.5rem;
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
}
.post__imgContainer {
  margin-right: 1.2rem;
}
.post__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.post__firstChild {
  margin-top: 0;
}
.post__date {
  font-size: 16px;
  padding-bottom: 0.5rem;
}
.post__title {
  font-size: 20px;
  padding: 0.5rem 0 0.5rem 0;
  width: 13ch;
}
.post__userImage {
  width: 15%;
  border-radius: 100px;
  box-shadow: 0 4px 4px #d2d2d2;
}
.post__authorTitle {
  font-size: 16px;
  font-weight: 500;
  align-self: center;
  padding-left: 0.6rem;
}

.categories__link {
  margin-top: 5rem;
  font-size: 20px;
}
.categories__link--color {
  color: #292c33;
}

.category {
  padding: 6px 0 6px 0;
  margin: 1.5rem 0 1.5rem 0;
  border-radius: 10px;
  height: 100%;
  max-height: 93px;
}
.category__logo {
  width: 25%;
  max-height: 94px;
  max-width: 100px;
}
.category__title {
  font-weight: 700;
  color: #FFF;
  font-size: 32px;
  align-self: center;
  text-align: right;
}
.category__bg--HTML {
  background-color: #e93e30;
  margin-top: 3.1rem;
}
.category__bg--js {
  background-color: #f7e018;
}
.category__bg--css {
  background-color: #299ed5;
}
.category__bg--react {
  background-color: #292c33;
}
.category__bg--vue {
  background-color: #67c770;
}
.category__bg--bootstrap {
  background-color: #563d7c;
}

.footer {
  border-top: 2px solid #ccc;
  border-bottom: none;
}
.footer__logo {
  width: 5%;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
}
.footer__copyright {
  padding: 1.5rem 0 1rem 0;
}
.footer__text {
  text-align: right;
}
.footer__title {
  margin-top: 1.3rem;
}/*# sourceMappingURL=styles.css.map */