:root{
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html{
    scroll-behavior: smooth;
}

h2{
    font-size: 28px;
    margin-top: 3rem;
    margin-bottom: 1.7rem;
}

a{
    text-decoration: none;
}

.row{
   display: flex;
   flex-wrap: wrap; 
   &--border{
    border-bottom: 2px solid #ccc;
    padding-bottom: 4rem;
}
}

.col-half{
    width: 4.16666666666666667%;
}

.col-1{
    width: 8.3333333333333333%;
}

.col-2{
    width: 16.666666666666667%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.33333333333334%;
}

.col-5{
    width: 41.66666666666667%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.3333333333333334%;
}

.col-8{
    width: 66.6666666666666667%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.33333333333333334%;
}

.col-11{
    width: 91.666666666666666667%;
}

.col-12{
    width: 100%;
}

.header, .footer{
    width: 100%;
    padding: 1.5rem 0 1.5rem 0;
    border-bottom: 2px solid #ccc;
    &__logo{
        width: 118%;
        border-radius: 5px;
        box-shadow: 0 4px 4px #d2d2d2;
    }
    &__title{
        font-size: 24px;
        padding-left: 22px;
        align-self: center;
    }
}

.container{
    display: flex;
    width: 1120px;
    margin: auto;
    flex-wrap: wrap;
}

.main__title{
    margin: 1.5rem 0 1.5rem 0;
}

.card{
    margin-right: 1.5rem;
    margin-bottom: 1.7rem;
    margin-top: 1.7rem;
    &__img{
        object-fit: cover;
        width: 100%;
        border-radius: 20px;
        max-height: 310px;
        height: 310px;
    }
    &__date{
        font-size: 18px;
        margin: 1.7rem 0 0.8rem 0;
    }
    &__title{
        font-size: 24px;
        margin: 0.8rem 0 1.7rem 0;
        &--marginBottom{
            margin-bottom: 2.75em;
        }
    }
    &__userImage{
        width: 18%;
        border-radius: 100px;
        box-shadow: 0 4px 4px #d2d2d2;
    }
    &__authorTitle{
        font-size: 24px;
        font-weight: 500;
        align-self: center;
        padding-left: 1rem;
    }
    &--featured{
        margin-top: 0;
    }
    &__userImage--featured{
        width: 10%;
    }
    &__popular{
        margin-bottom: 3.5rem;

        &:nth-child(odd){
            margin-right: 1rem;
        }
        &:nth-child(even){
            margin-left: 1rem;
        }
    }
    &--img--popular{
        height: 200px;
        max-height: 200px;
    }
    &--userImage--popular{
        width: 13%;
    }
    &--authorTitle--popular{
        font-size: 16px;
    }
}

.post{
    margin-left: 1.5rem;
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
    &__imgContainer{
        margin-right: 1.2rem;
    }
    &__img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    &__firstChild{
        margin-top: 0;
    }
    &__date{
        font-size: 16px;
        padding-bottom: 0.5rem;
    }
    &__title{
        font-size: 20px;
        padding: 0.5rem 0 0.5rem 0;
        width: 13ch;
    }
    &__userImage{
        width: 15%;
        border-radius: 100px;
        box-shadow: 0 4px 4px #d2d2d2;
    }
    &__authorTitle{
        font-size: 16px;
        font-weight: 500;
        align-self: center;
        padding-left: 0.6rem;
    }
}


.categories{
    &__link{
        margin-top: 5rem;
        font-size: 20px;
        &--color{
            color: #292c33;
        }
    }
}

.category{
    padding: 6px 0 6px 0;
    margin: 1.5rem 0 1.5rem 0;
    border-radius: 10px;
    height: 100%;
    max-height: 93px;
    &__logo{
        width: 25%;
        max-height: 94px;
        max-width: 100px;
    }
    &__title{
        font-weight: 700;
        color: #FFF;
        font-size: 32px;
        align-self: center;
        text-align: right;
    }

    &__bg--HTML{
        background-color: #e93e30;
        margin-top: 3.1rem;
    }
    &__bg--js{
        background-color: #f7e018;
    }
    &__bg--css{
        background-color: #299ed5;
    }
    &__bg--react{
        background-color: #292c33;
    }
    &__bg--vue{
        background-color: #67c770;
    }
    &__bg--bootstrap{
        background-color: #563d7c;
    }
}

.footer{
    border-top: 2px solid #ccc;
    border-bottom: none;
    &__logo{
        width: 5%;
        height: fit-content;
        align-self: center;  
    }
    &__copyright{
        padding: 1.5rem 0 1rem 0;
    }
    &__text{
        text-align: right;
    }
    &__title{
        margin-top: 1.3rem;
    }
}

