
.col-half{
  width: 4.16666666666666667%;
}

.col-1{
  width: 8.3333333333333333%;
}

.col-2{
  width: 16.666666666666667%;
}

.col-3{
  width: 25%;
}

.col-4{
  width: 33.333333333333334%;
  &__relatedCards{
    width: 30%;
  }
}

.col-5{
  width: 41.66666666666667%;
}

.col-6{
  width: 50%;
}

.col-7{
  width: 58.3333333333333334%;
}

.col-8{
  width: 66.6666666666666667%;
}

.col-9{
  width: 75%;
}

.col-10{
  width: 83.33333333333333334%;
}

.col-11{
  width: 91.666666666666666667%;
}

.col-12{
  width: 100%;
}
